@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
:root {
  --fg: rgba(25, 28, 31);
  --bg: rgba(255, 255, 255);
  --nav-bg: rgba(255, 255, 255, 0.85);
  --main: #db324d;
  --main-soft: #da2f4b;
  --fading-bg: rgba(22, 22, 26, 0.04);
}
.dark {
  --fg: #fff;
  --bg: rgba(25, 28, 31);
  --nav-bg: rgba(25, 28, 31, 0.85);
  --fading-bg: rgba(255, 255, 255, 0.04);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
  background: var(--bg);
  color: var(--fg);
}

a {
  color: var(--fg);
  text-decoration: none;
}

.nav__menu-list.active {
  right: 0;
}

@media (max-width: 768px) {
  .nav__menu-list.active.theme {
    position: unset;
  }
}

.theme-select {
  height: 100%;
}

.swiper {
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -4px !important;
}

@media screen and (min-width: 540px) {
  .swiper {
    min-width: 540px;
  }
}

@media screen and (min-width: 780px) {
  .swiper {
    min-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .swiper {
    min-width: 1024px;
  }
}

@media screen and (min-width: 1380px) {
  .swiper {
    min-width: 1380px;
  }
}

.swiper-slide,
.swiper-slide-prev,
.swiper-slide-active,
swiper-slide-next {
  width: 240px;
}

.swiper-pagination-bullet {
  background-color: var(--fg) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--main) !important;
}
